@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.login-base-container{
    position: absolute;
    width: 469px;
    height: 340px;
    left: 144px;
    top: 210px;
    justify-content: center;
}

.register-base-container{
    position: absolute;
    width: 756px;
    height: 982px;
    left: 756px;
    background: #FEC5BB;
    justify-items: center;
}

.header{
    font-family: 'Gaegu', cursive;
    font-size: 72px;
}
.register-header{
    position: relative;
    top: 100px;
    font-family: 'Gaegu', cursive;
    font-size: 72px;
    color: #FFFFFF;

}

.register-content{
    position: relative;
    top: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #F8EDEB;
    font-weight: 400;
    width: 500px;
    left: 130px;
}


input{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #948A8A;
    width: 450px;
    height: 54px;
    background: #F8EDEB;
    border-radius: 11px;
    border: 0;
    margin-top: 10px;
    padding: 0px 20px;
    margin-bottom: 10px;
}

input[type="newUsername"]{
    background: #F8EDEB;
}
input[type="newPassword"]{
    background: #F8EDEB;
}

.loginbtn{
    font-family: 'Gaegu', cursive;
    position: absolute;
    width: 489px;
    height: 54px;
    left: 0px;
    top: 280px;
    background: #FEC5BB;
    border-radius: 11px;
    border: 0;
    font-size: 20px;
    
}

.registerbtn{
    font-family: 'Gaegu', cursive;
    position: relative;
    width: 489px;
    height: 54px;
    left: 0px;
    top: 40px;
    background: #ffd6b9;
    border-radius: 11px;
    border: 0;
    font-size: 20px;
}

.register{
    margin-top: 160px;
    position: center;
}

.home-header{
font-family: 'Gaegu', cursive;
font-style: normal;
font-weight: bold;
font-size: 60px;
margin-top:50px;
color: #000000;
}

.home-content{
position: absolute;

width: 1503px;
height: 750px;
text-align: center;
background: #FFE5D9;
}

.profilebtn{
    font-family: 'Gaegu', cursive;
    position: absolute;
width: 333px;
height: 84px;
left: 58px;
top:780px;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;
background: #FEC5BB;
border-radius: 20px;
border: 0;
}
.editbtn{
    font-family: 'Gaegu', cursive;
    position: absolute;
width: 333px;
height: 84px;
left: 436px;
top:780px;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;
background: #FEC5BB;
border-radius: 20px;
border: 0;
}

.connectbtn{
    font-family: 'Gaegu', cursive;
    position: absolute;
width: 333px;
height: 84px;
left: 1100px;
top:780px;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;
background: #FEC5BB;
border-radius: 20px;
border: 0;
}